$white: #EEE;
$bgDefault: #31bc9f;
$bgHighlight: #1fd8b1;
$colDefault: #eeeeee;
$colHighlight: #ffffff;

*{
	margin: 0px;
	padding:0px;
	border: 0;
	box-sizing: border-box;
	background-color: transparent;
	font-weight: normal;
	font-style: inherit;
}

/*Themes*/
html{

}
body{
 background: #D8D8D8;
}
main{
	max-width: 700px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}
#title {
	margin-top: 70px;
	background: url(../images/projects-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  p{
  	font-size: 25px;

  }
}
#about-me{
	background: url(../images/projects-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
#projects{
	background: url(../images/projects-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
#contact{
	height: 500px;
	background: url(../images/projects-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  margin-bottom: 20px;
	h2{
		padding-top: 200px;
	}
}
h1, h2, h3, h4 {
	text-align: center;

}
h1{
	font-size: 60px;
}
img{
	width: 40%;
	border-radius: 10px;
	display: block;
	margin: 20px auto 20px auto;
}

a img{
	// height: 200px;
	// width: 260px;
	width: 70%;
	border-radius: 10px;
	// display: block;
	// margin: 20px auto 20px auto;
}
a img:hover {
 opacity: .7;
}
.btn {
	background: $bgDefault;
	color: $white;
}
.btn:hover{
	background: darken($bgDefault, 10%);
	color: $white;
}

p{
	padding: 25px;
}
#email-me{
	width: 20%;
	display: block;
	margin: 20px auto 20px auto;
}


footer {
	background: #31bc9f;
	width: 100%;
	bottom: 0;
	padding: 25px;
	position: relative;
	color: #eee;
	text-align: center;
	line-height: 0;
	a{
		color: lightgrey;
		margin: 10px;
	}
}

@media(max-width: 500px){
	main{
		background: yellow;
		color: white;
	}
	footer{
		font-size: 15px;
	}

}


$dropDown       : true;
// $bgDefault      : #febe28;
// $bgHighlight    : #ffca00;
// $colDefault     : #404040;
// $colHighlight   : #616161;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgDefault;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus { 
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $bgHighlight; }}
          .divider {
            background-color: $bgHighlight;}}}
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}
