* {
  margin: 0px;
  padding: 0px;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  font-weight: normal;
  font-style: inherit; }

/*Themes*/
body {
  background: #D8D8D8; }

main {
  max-width: 700px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto; }

#title {
  margin-top: 70px;
  background: url(../images/projects-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white; }
  #title p {
    font-size: 25px; }

#about-me {
  background: url(../images/projects-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white; }

#projects {
  background: url(../images/projects-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white; }

#contact {
  height: 500px;
  background: url(../images/projects-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  margin-bottom: 20px; }
  #contact h2 {
    padding-top: 200px; }

h1, h2, h3, h4 {
  text-align: center; }

h1 {
  font-size: 60px; }

img {
  width: 40%;
  border-radius: 10px;
  display: block;
  margin: 20px auto 20px auto; }

a img {
  width: 70%;
  border-radius: 10px; }

a img:hover {
  opacity: .7; }

.btn {
  background: #31bc9f;
  color: #EEE; }

.btn:hover {
  background: #26947d;
  color: #EEE; }

p {
  padding: 25px; }

#email-me {
  width: 20%;
  display: block;
  margin: 20px auto 20px auto; }

footer {
  background: #31bc9f;
  width: 100%;
  bottom: 0;
  padding: 25px;
  position: relative;
  color: #eee;
  text-align: center;
  line-height: 0; }
  footer a {
    color: lightgrey;
    margin: 10px; }

@media (max-width: 500px) {
  main {
    background: yellow;
    color: white; }

  footer {
    font-size: 15px; } }
.navbar-default {
  background-color: #31bc9f;
  border-color: #31bc9f; }
  .navbar-default .navbar-brand {
    color: #eeeeee; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #ffffff; }
  .navbar-default .navbar-text {
    color: #eeeeee; }
  .navbar-default .navbar-nav > li > a {
    color: #eeeeee; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #ffffff; }
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #31bc9f; }
    .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
      color: #eeeeee; }
      .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: #1fd8b1; }
    .navbar-default .navbar-nav > li > .dropdown-menu .divider {
      background-color: #1fd8b1; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #1fd8b1; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #1fd8b1; }
  .navbar-default .navbar-toggle {
    border-color: #1fd8b1; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #1fd8b1; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #eeeeee; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #eeeeee; }
  .navbar-default .navbar-link {
    color: #eeeeee; }
    .navbar-default .navbar-link:hover {
      color: #ffffff; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #eeeeee; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffffff; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #1fd8b1; } }

/*# sourceMappingURL=style.css.map */
