* {
  margin: 0px;
  padding: 0px;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  font-weight: normal;
  font-style: inherit; }

/*Themes*/
body {
  background: #D8D8D8; }

.container {
  width: 100%; }

h1 {
  text-align: center;
  padding-top: 20px; }

#title {
  margin-top: 70px;
  background: url(../images/projects-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  min-height: 88vh; }
  #title p {
    font-size: 20px; }
  #title h1 {
    font-size: 60px; }
  #title h2 {
    text-align: center; }
  #title img {
    width: 30%;
    border-radius: 10px;
    display: block;
    margin: 20px auto 20px auto; }

#about-me {
  background: url(../images/projects-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  min-height: 88vh;
  position: relative; }
  #about-me h1 {
    padding: 40px; }
  #about-me p {
    padding: 0 10px;
    text-align: center;
    font-size: 18px; }
  #about-me h2 {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    padding: 10px 20px; }
  #about-me .fa-stack {
    margin: auto;
    display: block; }
  #about-me .row {
    top: 25%;
    bottom: 25%; }

#projects {
  background: url(../images/projects-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  min-height: 88vh; }
  #projects h1 {
    padding: 40px; }
  #projects h3 {
    text-align: center; }
  #projects a img {
    width: 70%;
    max-width: 300px;
    border-radius: 10px;
    display: block;
    margin: 0 auto; }
  #projects a img:hover {
    opacity: .7; }
  #projects .row {
    padding-bottom: 40px; }
  #projects p {
    padding: 2px 60px; }

#contact {
  background: url(../images/projects-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  margin-bottom: 20px;
  min-height: 88vh; }
  #contact h1 {
    padding: 40px; }
  #contact h3 {
    margin: 15px; }
  #contact .btn {
    background: #2A5E6A;
    color: #EEE;
    min-width: 200px;
    margin: 10px;
    vertical-align: middle; }
  #contact .btn:hover, #contact .btn:focus {
    background: #387e8f;
    color: #EEE; }
  #contact .row {
    margin-top: 60px;
    bottom: 25%; }

footer {
  background: #31bc9f;
  width: 100%;
  bottom: 0;
  padding: 25px;
  position: relative;
  color: #eee;
  text-align: center;
  line-height: 0; }
  footer a {
    color: lightgrey;
    margin: 10px; }

.navbar-right {
  margin-right: 100px;
  font-size: 20px; }

.navbar-default {
  background-color: #31bc9f;
  border-color: #31bc9f; }
  .navbar-default .navbar-brand {
    color: #eee;
    font-size: 30px; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #ffffff; }
  .navbar-default .navbar-text {
    color: #dddddd; }
  .navbar-default .navbar-nav > li > a {
    color: #dddddd; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #ffffff; }
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #31bc9f; }
    .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
      color: #dddddd; }
      .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: #2A5E6A; }
    .navbar-default .navbar-nav > li > .dropdown-menu .divider {
      background-color: #2A5E6A; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #2A5E6A; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #2A5E6A; }
  .navbar-default .navbar-toggle {
    border-color: #2A5E6A; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #2A5E6A; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #dddddd; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #dddddd; }
  .navbar-default .navbar-link {
    color: #dddddd; }
    .navbar-default .navbar-link:hover {
      color: #ffffff; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #dddddd; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffffff; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #2A5E6A; } }

/*# sourceMappingURL=style.css.map */
