* {
  margin: 0px;
  padding: 0px;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  font-weight: normal;
  font-style: inherit; }

/*Themes*/
body {
  background: #D8D8D8; }

.container {
  width: 100%; }

h1 {
  text-align: center;
  padding-top: 20px; }

#title {
  margin-top: 70px;
  background: url(../images/projects-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white; }
  #title p {
    font-size: 25px; }
  #title h1 {
    font-size: 60px; }
  #title h2 {
    text-align: center; }

#about-me {
  background: url(../images/projects-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white; }

#projects {
  background: url(../images/projects-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white; }
  #projects h3 {
    text-align: center; }
  #projects a img {
    width: 70%;
    border-radius: 10px; }
  #projects a img:hover {
    opacity: .7; }
  #projects p {
    padding: 2px 20px; }

#contact {
  background: url(../images/projects-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  margin-bottom: 20px; }
  #contact h3 {
    margin: 15px; }
  #contact .btn {
    background: #31bc9f;
    color: #EEE;
    width: 200px;
    margin: 10px;
    vertical-align: middle; }
  #contact .btn:hover, #contact .btn:focus {
    background: #26947d;
    color: #EEE; }

img {
  width: 40%;
  border-radius: 10px;
  display: block;
  margin: 20px auto 20px auto; }

footer {
  background: #31bc9f;
  width: 100%;
  bottom: 0;
  padding: 25px;
  position: relative;
  color: #eee;
  text-align: center;
  line-height: 0; }
  footer a {
    color: lightgrey;
    margin: 10px; }

.navbar-right {
  margin-right: 100px;
  font-size: 20px; }

.navbar-default {
  background-color: #31bc9f;
  border-color: #31bc9f; }
  .navbar-default .navbar-brand {
    color: #eeeeee;
    font-size: 30px; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #ffffff; }
  .navbar-default .navbar-text {
    color: #eeeeee; }
  .navbar-default .navbar-nav > li > a {
    color: #eeeeee; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #ffffff; }
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #31bc9f; }
    .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
      color: #eeeeee; }
      .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: #1fd8b1; }
    .navbar-default .navbar-nav > li > .dropdown-menu .divider {
      background-color: #1fd8b1; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #1fd8b1; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #1fd8b1; }
  .navbar-default .navbar-toggle {
    border-color: #1fd8b1; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #1fd8b1; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #eeeeee; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #eeeeee; }
  .navbar-default .navbar-link {
    color: #eeeeee; }
    .navbar-default .navbar-link:hover {
      color: #ffffff; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #eeeeee; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffffff; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #1fd8b1; } }

/*# sourceMappingURL=style.css.map */
